.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  margin-top: 3rem;
}
.footer div{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.footer a{
    font-size: 1.15rem;
}
.footer a:hover{
  color: #fbca03;
}