.email{
    color: #fbca03;
}
.project{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    /* border: 1px solid #aa0505; */
    border-radius: 12px;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    margin-bottom: 1rem;
}
.project h3{
    margin: 0;
    color: #fbca03;
    font-size: 1.45rem;
}
.project p{
    margin: .5rem 0;
}
.project p span{
    font-weight: 500;
    color: #e6d77e;
}
.links{
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}
.links a{
    font-weight: 500;
    color: #e6d77e;
    border: 1px solid;
    border-color: inherit;
    border-radius: 6px;
    padding: 0.2rem .8rem;
}
.links a:hover{
    color: #fbca03;
}
.skills li span{
    font-size: 1rem;
}